<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="warn"
      internalLogFile="C:\Users\szombatim\source\repos\TcpClientProgram\TcpClientProgram\bin\Debug\log\nlog-internal.log">

  <!-- Az összes logoló a root logger-en keresztül fogadja a logolást -->
  <targets>
    <!-- Console target -->
    <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

    <!-- File target -->
    <target xsi:type="File" name="file" fileName="C:\Users\szombatim\source\repos\TcpClientProgram\TcpClientProgram\bin\Debug\log\application.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- All logs, including from Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>